<h1>Simple atom store example</h1>
<button (click)="increment()">Increment counter in parent component</button>
<counter></counter>
<counter-with-async-pipe></counter-with-async-pipe>

<h1>Atom store with array of objects example</h1>
<button (click)="addOrange()">Add orange</button>
<fruits></fruits>
<fruits-with-async-pipe></fruits-with-async-pipe>

<h1>Map store</h1>
<profile></profile>

<h2>Computed store with fruit value that more than counter value:</h2>
<filtered-fruits></filtered-fruits>
